.msg-header{
	font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 0.3em;
}
.message{
    padding:1em;
    margin: 0 0 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #f5f5f5;
    color: #555555;
    border: 1px solid #9f9f9f;
    box-sizing: inherit;

}
.message.sucess{
    background-color: #FCFFF5;
    color: #2C662D;
 	border: 1px solid #A3C293;
 	.msg-header{
 		color:#1A531B;
 	}
}
.ico{
	.msg-header:before{
 		content:"";
	}
    i{
        width: 20px;
        height: 20px;
        border: 1px solid #000000;
        display: block;
        position: absolute;
        left: 15px;
        top: 15px;
    }	
	padding-left:3em;
    position: relative;
}

.message.warning{
    background-color: #FFFAF3;
    color: #573A08;
    border: 1px solid #C9BA9B;
    .msg-header{color:#794B02;}
}
.message.error{
    background-color: #FFF6F6;
    color: #9F3A38;
    border: 1px solid #E0B4B4;
    .msg-header{color:#912D2B;}
}

