html{font: 100%/1.5 Arial, sans-serif;}
body{
    font: 16px/1.2 Arial, sans-serif;
}

/*Heading*/
h1 { font-size: 2em; line-height: 1.2; /* 2*16 = 32 */         }
h2 { font-size: 1.5em; line-height: 1.2; /* 1.5*16 = 24 */       }
h3 { font-size: 1.17em; line-height: 1.1; /* 1.17*16 = 18.72 */   }
h4 { font-size: 1em; line-height: 1.3 ; /* 1*16 = 16 */         }
h5 { font-size: 0.83em; line-height: 1.3 ; /* 0.83*16 = 13.28 */   }
h6 { font-size: 0.75em; line-height: 1.3 ; /* 0.75*16 = 12 */      }
p { 
    font-size: 1.000em;
    line-height: 1.2;
    margin: 0 0 0.938em;   
    &:last-child{
        margin-bottom: 0;
    }
}

.indent p   {margin: 0;}
.indent p+p {text-indent: 2em;}
a,
a:visited   {   text-decoration: none;   }
a:hover     {   text-decoration: none; color: $black-col;}
a:active    {   color: $black-col;      }
a:focus     {   border: 0; outline: 0; box-shadow: none; }
strong, b  {   font-weight: bold;  }
em      {   font-style: italic; }
.align-left{ text-align: left;}
.align-center{ text-align: center;}
.align-right{ text-align: right;}
.align-justify{ text-align: justify;}

.capitalize{ 
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.mar-b0{
    margin-bottom: 0;
}
ul{
    display: block;
    list-style-type: disc;
    padding-left: 2.5em;
    font: 1em/1.25 Arial, sans-serif;
}
ul li, ol li{ font-size: inherit;}
ol{
    display: block;
    font: 1em/1.25 Arial, sans-serif;
    list-style-type: decimal;
    padding-left: 2.5em;
}
.unstyled-listing{
    display: block;
    list-style-type: none;
    padding-left: 0;
    font: 1em/1.25 Arial, sans-serif;
}

dl{
    margin-bottom: 1.25;
}
dl:last-child{ margin-bottom: 0; }

.dl-horizontal dt{
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
}

code, pre {   font-family: monospace, serif; font-size: 1em; }
blockquote {
    padding: 0.625em 1.25em;
    font-size: 1.125em;
    border-left: 5px solid #eee;
}
 
blockquote:before { 
    display: inline-block;
    padding-right: .4em;
}