.flexslider{
    background: transparent;
    border: 0;
    margin-bottom: 0;
}
.flex-direction-nav{
    .flex-prev{
        opacity: 1;
        left: 10px;
        text-indent: 9999px;
        &:before{
            background-position: -22.75em -12.26em;
        }
    }
    .flex-next{
        opacity: 1 ;
        right: 10px;
        text-indent: 9999px;
        &:before{
            background-position: -24.48em -12.26em;
        }
    }
    
}