// Font Size
$font-size : 1em;   //1*10
$font-size : 1.5em;   //1*15
$font-size : 2em;   //2*10
$font-size : 3em;   //3*10
$font-size : 4em;   //4*10
 
// Font
$font-family-roboto : 'Roboto', sans-serif;   // font-family : Roboto, serif; 
$font-family-prata : 'Prata', serif;          // font-family : prata, serif; 


// Color
$col-white: #fff;
$col-red: #db2128;
$col-black: #0a0905;
$col-pink: #9c0572;
$col-yellow: #f7a30f;
$col-gold: #976107;
$col-grey: #333333;
$col-light-grey : #a9a9a9;
$col-dark-grey : #989898;  
$col-sec-bg:#f6f6f6;


// Media
$tablet: "(min-width: 768px)";
$mobile: "(max-width: 767px)";



$color-1: #2b334f; // Pickled Bluewood
$color-2: #2e5367; // San Juan
$color-3: #267481; // Lochinvar
$color-4: #fcb052; // Texas Rose
$color-5: #f06a59; // Burnt Sienna
$color-6: #ffffff; // White

// fonts 

$primary-font: 'Open Sans', sans-serif;  
